@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');

--heading-font: "Courgette";
--paragraph-font: Lobster, Helvetica, sans-serif;

div{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #1C1D21;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color:#F3F9D2 ;
    font-family: 'Courgette' 'Lobster' 'Times New Roman';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: #DAB6FC;
}
nav a:hover{
    background-color:#F3F9D2;
    color: #1C1D21;
}
.book, .join{
    background-color:#DAB6FC;
    color: #BF6900;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color:#DAB6FC;
    color: #BF6900;
}
#background{
    background-color:#F3F9D2;
}
.msg{
    background-color: #DAB6FC;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color:#F3F9D2 ;
    color: #1C1D21;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: #1C1D21;
    font-family: 'Courgette', 'Lobster', Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #BF6900;
}
.msg h2{
    color: #1C1D21;
}
.msg p{
    color: #1C1D21;
    font-family: 'Lobster', 'Courgette', monospace;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer a{
    color: #BF6900;
    text-decoration: none;
}
footer a:hover{
    color: #BF6900;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}   
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
       margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
main section img {
    box-sizing: border-box;
}