section {
    width: 50%;
    border: 1px solid;
  }
  .block1 {
    width: 50%;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }
  
  .block2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .block3 {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    text-align: right;
  }
  
  .block4 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .block1 p:first-of-type,
  .block2 p:first-of-type,
  .block3 p:first-of-type {
    text-align: left;
  }
  
  .block1 p:nth-of-type(2),
  .block2 p:nth-of-type(2),
  .block3 p:nth-of-type(2) {
    text-align: center;
  }
  
  .block1 p:nth-of-type(3),
  .block2 p:nth-of-type(3),
  .block3 p:nth-of-type(3) {
    text-align: right;
  }
  
  .block4 p:first-of-type {
    text-align: right;
  }
  
  .block4 p:nth-of-type(2) {
    text-align: center;
  }
  
  .block4 p:nth-of-type(3),
  .block4 p:nth-of-type(4) {
    text-align: left;
  }
  
  /* Additional styles for better readability */
  h2, p {
    margin: 0;
    padding: 0;
  }
  
  