@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');

/* :root{
    
    display: flex;
    justify-content: center;
    text-align: center;
} */

body{
    font-family: 'Courgette', 'Lobster', 'Times New Roman';
    font-size: 22px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: linear-gradient(60deg,#50cc7f, #5ef90a,#59b4f1, #25f47f, #c3a70d, #1b51f2);
    animation: bganimation 5s infinite;
    background-size: 200%;
}
@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}

.slideshow-container {
    position: relative;
    width: 100%;
    margin: auto;
  }
  
  .mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
  }
  
  .mySlides.fade {
    animation: fadeAnimation 5s infinite;
  }
  
  @keyframes fadeAnimation {
    0%, 100% {
      opacity: 0;
    }
    20%, 80% {
      opacity: 1;
    }
  }

nav a{
    text-align: center;
    color: #6CCFF6;
    text-decoration: none;
    font-family: 'Lobster', 'Times New Roman' ;
    padding: 35px;  
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-msg h4 {
    font-family:'Courgette', 'Times New Roman' ;
    color: #ffffff;
    padding-bottom: 15px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    font-size: 35px;
}
.button-box{
    text-align: center;
}
#background{
    height: 725px;
}
#hero-box p {
    text-align: center;
    padding-left:15px ;
    padding-right:15px ;
    color: white;
}
header{
    background-color:rgba(247, 187, 7, 0.36);
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color:#F3F9D2;
    color: #1C1D21;
    border-radius: 15px;
}

.book, .join{
    background-color:#ffffff;
    color: #BF6900;
    text-decoration: none;
    font-family: 'Courgette', 'Lobster', Arial, sans-serif;
    font-size: 20px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color:#DAB6FC;
    color: #BF6900;
}
footer{
    background-color:rgba(247, 187, 7, 0.608) ;
    color: #1C1D21;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title{
    color: #ffffff7e;
    font-family: 'Lobster', Arial, sans-serif;
    font-size: 4em;
    margin-top: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
   
}
h4{
    color: #BF6900;
}

footer a{
    color: #BF6900;
    text-decoration: none;
}
footer a:hover{
    color: #BF6900;
}
.logo{
    width: 150px;
}

#hero img {
    width: 100%;
   
  }
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}   
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img{
    padding-top: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero {
    position: relative;
    background-image: url("images/image1.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100% - 20px); /* Adjust the height as needed */
    overflow: hidden;
}

  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Ensure the header stays on top */
  }
  
  #hero-box {
    max-width: 800px; /* Adjust the width as needed */
    margin: 0 auto;
    padding: 20px;
    color: #fff; /* Set the text color */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #hero-msg {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Set the text color */
  }
  
  #hero {
    position: relative;
    height: 150vh;
  }
  
  #hero .slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .hero-content {
    position: absolute;
    top: 980px;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #534afb; /* Set the text color */
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(4, 16, 49);
    
  }
  
  .hero-content p {
    max-width: 1400px; /* Adjust the width as needed */
    margin: 0 auto;
    text-align: center;
    padding-right: 50px;
  }

.designs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding-top: 200px;
}

.design_card img{
    width: 350px;
    background-color: #2c1099;
    border-radius: 10%;
    box-shadow: 10px 10px 15px #2B3A67;
    border: 10px solid rgba(239, 241, 197, 0.462);
    transition: transform .3s;
    display: block;
    margin: 0 auto;
}

.design_card img:hover{
    opacity: .3;
    transform: scale(1.1);
}

.design_card h3 {
    color: rgb(93, 228, 246);
    padding: 5px;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(80, 22, 30);
  }

.design_card p {
  text-align: center ;
  font-family: 'Lobster', Arial, sans-serif;
  color:rgb(36, 93, 249);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(26, 10, 90);
  
}


#tab1{
    grid-column: 1/2;
    grid-row: 1/2;
}
#tab2{
    grid-column: 2/3;
    grid-row: 1/2;
}
#tab3{
    grid-column: 3/4;
    grid-row: 1/2;
}
#tab4{
    grid-column: 1/2;
    grid-row: 2/3;
}
#tab5{
    grid-column: 2/3;
    grid-row: 2/3;
}
#tab6{
    grid-column: 3/4;
    grid-row: 2/3;
}

#tab1 p{
    padding-left: 15px;
    padding-right:15px ;
}

#tab2 p{
    padding-left: 15px;
    padding-right:15px ;
}

#tab3 p{
    padding-left: 15px;
    padding-right:15px ;
}

#tab4 p{
    padding-left: 15px;
    padding-right:15px ;
}

#tab5 p{
    padding-left: 15px;
    padding-right:15px ;
}

#tab6 p{
    padding-left: 15px;
    padding-right:15px ;
}

.contact_us img{
    display: block;
    margin: 0 auto;
    width: 35%;
    background-color: #DAB6FC;
    border-radius: 10%;
    border-color: #4cadf3;
    box-shadow: 5px 5px 10px #78f1f8;
    border: 3px solid rgb(252, 252, 252);
    transition: transform .5s;
    margin-top: 150px;
}

.contact_us h2{
    text-align: center;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color:whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact_us h3{
    text-align: center;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color:whitesmoke;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

